.sidebar {
    width: 20%;
    height: 91vh;
    padding: 0vh 4vh 3vh 4vh;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    /* overflow-y: */
}

.side_header {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}

.side_header img {
    width: 20%;
    /* margin-right: 2vh; */
}

.side_title span {
    color: #6a4f87;
}

.spans {
    font-size: 12px;
    font-weight: 100;
    color: #89888a;
}